<div class="header">
    <div class="logo">
        <i routerLink="home" class="fa-solid fa-dice-d20"></i>
        <h2 routerLink="home">Bee<span>Mazing</span></h2>
    </div>
    <div class="navigation">
        <nav>
            <ul class="nav-ul">
                <li routerLink="products">Products</li>
                <li>Blog</li>
                <li>Help</li>
                <li *ngIf="checkIsLogged()"><i class="fa-solid fa-cart-shopping"></i></li>
                <li *ngIf="checkIsLogged()" (click)="toggleDropdown()" class="dropdown-container">{{ name }}</li>
                <div *ngIf="showDropdown" class="dropdown">
                  <ul>
                    <li (click)="deleteAccount(id)">Delete Account</li>
                  </ul>
                </div>
                <li *ngIf="!checkIsLogged()" routerLink="login"><i class="fa-regular fa-user"></i></li>
                <li *ngIf="!checkIsLogged()" routerLink="registration" class="sign-up">Sign Up</li>
                <li (click)="logOut()" *ngIf="checkIsLogged()">Log Out</li>
            </ul>
        </nav>
    </div>
</div>