<div class="header">
    <div class="logo">
        <i (click)="scrollToTop()" routerLink="home" class="fa-solid fa-dice-d20"></i>
        <h2 (click)="scrollToTop()"  routerLink="home">Bee<span>Mazing</span></h2>
    </div>
    <div class="navigation nav-body">
        <nav class="navv" [ngClass]="{'navv_true': isExpanded$ === true }">
            <ul class="nav-ul" [ngClass]="{'is_expanded': isExpanded$ === true }">
                <li routerLink="products">Products</li>
                <li (click)="scrollToBottom()">Blog</li>
                <li>Help</li>
                <div class="cart" *ngIf="checkIsLogged()">
                    <li routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></li>
                    <div class="cart-count">{{totalItem}}</div>
                </div>
                <div *ngIf="checkIsLogged()" class="dropdown-div">
                    <li (click)="toggleDropdown()" class="dropdown-container">{{ name }}</li>
                    <i [class.active]="showDropdown" (click)="toggleDropdown()" class="fa-solid fa-chevron-down"></i>
                </div>
                <div *ngIf="showDropdown" class="dropdown">
                  <ul>
                    <li (click)="deleteAccount(id)">Delete Account</li>
                  </ul>
                </div>
                <li (click)="openModal()" data-bs-toggle="modal" data-bs-target="#myModal" *ngIf="!checkIsLogged()"><i class="fa-regular fa-user"></i></li>
                <li *ngIf="!checkIsLogged()" routerLink="registration" class="sign-up">Sign Up</li>
                <li (click)="logOut()" *ngIf="checkIsLogged()">Log Out</li>
            </ul>
        </nav>
    </div>
    <div class="navBar" (click)="open()"><i class="fa-solid fa-bars"></i></div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h4 class="modal-title">Log In</h4>
          <div>
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Email is required
            </div>
          </div>
          
          <div>
            <label for="password">Password:</label>
            <div class="password-field">
              <input type="{{ showPassword ? 'text' : 'password' }}" id="password" formControlName="password">
              <i *ngIf="!showPassword" class="fa-solid fa-eye" (click)="changeType()"></i>
              <i *ngIf="showPassword" class="fa-solid fa-eye-slash" (click)="changeType()"></i>
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Password is required
            </div>
          </div>

          <p class="text-danger" *ngIf="warningMessage">{{warningMessage}}</p>
            
          <button type="submit" data-bs-dismiss="modal">Log In</button>
          <button (click)="createAcc()" data-bs-dismiss="modal" class="create-acc">Create new account</button>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>