<div class="header">
    <div class="logo">
        <i class="fa-solid fa-dice-d20"></i>
        <h2>Bee<span>Mazing</span></h2>
    </div>
    <div class="navigation">
        <nav>
            <ul class="nav-ul">
                <li>Products</li>
                <li>Blog</li>
                <li>Help</li>
                <li><i class="fa-solid fa-cart-shopping"></i></li>
                <li routerLink="login"><i class="fa-regular fa-user"></i></li>
                <li routerLink="registration" class="sign-up">Sign Up</li>
            </ul>
        </nav>
    </div>
</div>