<div class= "container">
    <div class="select">
        <select [(ngModel)]="selectedCategory" (change)="filterByCategory()">
            <option value="">All Categories</option>
            <option value="men's clothing">Men's Clothing</option>
            <option value="women's clothing">Women's Clothing</option>
            <option value="electronics">Electronics</option>
            <option value="jewelery">Jewelry</option>
        </select>
    </div>
</div> 
<h1 class="selected-category">{{ selectedCategory | titlecase }}</h1>
<h1 class="selected-category" *ngIf="!selectedCategory">All Categories</h1>

<div class="main-div">
    <div class="product-details" *ngFor="let product of onePageData()">
        <div class="product-image-container">
            <img class="product-image" [src]="product.image" alt="Product Image">
        </div>
        <div class="product-info">
            <h2 class="product-title">{{product.title}}</h2>
            <p class="product-description">{{product.description | slice: 0: 100}}...</p>
            <a [routerLink]= "[product.id]" class="see-more">See more...</a>
            <p class="product-price">{{product.price}} $</p>
            <p class="product-count">Count: {{product.rating.count}}</p>
            <div class="btn-div">
                <button (click)="addToCart(product)" class="cart-btn">Add to Cart</button>
                <button class="buy-btn" (click)="openModal(product)" [disabled]="isLogged===false" data-bs-toggle="modal" data-bs-target="#buyModal">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div class="pagination-div">
    <ul class="pagination">
        <li *ngFor="let page of pageNumbers"><a *ngIf="totalPages!==1" (click)="currentPage = page" [class.active]="currentPage === page" (click)="scrollToTop()">{{page}}</a></li>
    </ul>
</div>

<div class="modal" id="buyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="container p-0">
            <h2 class="productTitle">Product Name: {{productTitle}}</h2>
            <div class="card px-4">
                <p class="h8 py-3 details">Payment Details:</p>
                <hr>
                <div class="row gx-3">
                    <form [formGroup]="paymentForm" (ngSubmit)="Submit()">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Person Name</p>
                                <input class="form-control mb-3" type="text" formControlName="name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Card Number</p>
                                <input class="form-control mb-3" type="text" placeholder="1234 5678 435678" formControlName="cardNumber">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Expiry</p>
                                <input class="form-control mb-3" type="text" placeholder="MM/YYYY" formControlName="expiry">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">CVV/CVC</p>
                                <input class="form-control mb-3 pt-2 " type="password" placeholder="***" formControlName="cvc">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="btn btn-primary mb-3">
                                <button data-bs-dismiss="modal" class="btn bnt-primary" [disabled]="paymentForm.invalid">Pay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>