.footer {
  background: rgb(17,17,19);
  background: linear-gradient(90deg, rgba(17,17,19,1) 0%, rgba(30,30,32,1) 0%, rgba(52,52,54,1) 70%, rgba(44,44,47,1) 100%);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  p {
    color: #fff;
    text-decoration: none;
    span {
      color: rgb(0, 174, 255);;
    }
  }
}
  