.cart {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  .card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    .card-body {
      background-color: #18181a;
    }
  }
  .ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
  }
}
.karoche-ra {
  display: flex;
  .media-body {
    margin-left: 100px;
  }
}

.btn-table {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  button {
    background-color: #db3434;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    color: white;
    }
    .shop-more {
      margin-left: 20px;
      margin-right: 20px;
      background-color: #2980b9;
    }
  }

.img-product {
  width: 100px;
  height: 100px;
}


.cart-null {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 500px;
  border: 1px solid white;
  margin: 0 auto;
  h2 {
    font-size: 30px;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
  }
  .empty-cart {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3 {
      font-size: 20px;
      margin-bottom: 40px;
    }
    p {
      width: 80%;
      font-size: 15px;
      margin-bottom: 40px;
    }
    .fa-cart-plus {
      font-size: 140px;
      margin-bottom: 40px;
    }
    .shop-now {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 40px;
    }
  }
}