<div class="container px-3 my-5 clearfix cart" *ngIf="products.length != 0">
  <div class="card">
      <div class="card-header">
          <h2>Shopping Cart</h2>
      </div>
      <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                  <th class="text-right py-3 px-4" style="width: 120px;">Price</th>
                  <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                  <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                </tr>
              </thead>
              <tbody>
      
                <tr *ngFor="let product of products;let i = index">
                  <td class="p-4">
                    <div class="media align-items-center karoche-ra">
                      <img [src]="product.image" class="d-block ui-w-40 ui-bordered mr-4 img-product" alt="">
                      <div class="media-body">
                        <p>{{product.title}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">{{product.price}} $</td>
                  <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{product.quantity}}"></td>
                  <td class="text-center align-middle px-0 shop-tooltip close float-none text-danger" style="cursor: pointer;" (click)="removeProduct(product)"><i class="fa-regular fa-trash-can"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-table">
            <button (click)="emptyCart()">Empty Cart</button>
            <button class="shop-more" (click)="returnToShop()">Shop More</button>
            <h2>Total Price: {{ grandTotal | number: '1.2-2' }}</h2>
          </div>
        </div>
    </div>
</div>









<div class="cart-null" *ngIf="products.length==0">
    <h2>My Cart</h2>
    <div class="empty-cart">
        <i class="fa-solid fa-cart-plus"></i>
        <h3>Your Cart is <span>Empty!</span></h3>
        <p>Must add items on the cart before you proceed to check out</p>
        <button (click)="returnToShop()" class="shop-now">Return to Shop</button>
    </div>
</div>