<app-header *ngIf="!authService.hideEverything"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!authService.hideEverything"></app-footer>

<div *ngIf="cookieBool" class="cookie-container">
    <p>
      We use cookies in this website to give you the best experience on our
      site and show you relevant ads. To find out more, read our
      <a href="#">privacy policy</a> and <a href="#">cookie policy</a>.
    </p>

    <button (click)="Cookie()" class="cookie-btn">
      Accept
    </button>
</div>


<div *ngIf="hideBtn " (click)="scrollToTop()" class="scroll-up">
    <i class="fa-solid fa-up-long"></i>
</div>
