.filter {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    margin-bottom: 30px;
    &:hover {
      border-color: #888;
    }

    &:focus {
      outline: none;
      border-color: #555;
    }

    option {
      background-color: #fff;
      color: #333;
    }

    option:checked {
      background-color: #007bff;
      color: #fff;
    }
  }
}
.selected-category {
  font-size: 30px;
  color: white;
}
.main-div {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding-top: 230px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .product-details {
    width: 320px;
    height: 650px;
    margin-top: 30px;
    border: 1px solid rgb(202, 202, 202);
    background: rgb(17,17,19);
    background: linear-gradient(90deg, rgba(17,17,19,1) 0%, rgba(30,30,32,1) 0%, rgba(52,52,54,1) 70%, rgba(44,44,47,1) 100%);
    .product-image-container {
      width: 100%;
      height: 320px;
      .product-image {
        width: 100%;
        height: 100%;
      }
    }
    .product-info {
      height: 300px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      .product-title {
        font-size: 16px;
        margin-top: 10px;
        color: rgb(170, 170, 170);
      }
      .product-price {
        font-size: 30px;
        color: rgb(0, 110, 255);
      }
      .product-count {
        border: 1px solid rgb(255, 255, 255);
        padding: 5px;
      }
      .btn-div {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        .cart-btn {
          background-color: white;
          border: 1px solid rgb(168, 167, 167);
          border-radius: 3px;
          height: 40px;
          margin-bottom: 10px;
          cursor: pointer;
          border: none;
          &:hover {
            background-color: rgb(255, 0, 55);
            color: white;
            transition: background-color 0.5s, color 0.5s;
          }
        }
        .buy-btn {
          background-color: rgb(0, 110, 255);
          border: 1px solid rgb(168, 167, 167);
          color: white;
          border-radius: 3px;
          height: 40px;
          cursor: pointer;
          border: none;
          &:disabled {
            background-color: gray;
            cursor: no-drop;
          }
          &:hover {
            background-color: rgb(0, 255, 149);
            color: white;
            transition: background-color 0.5s, color 0.5s;
          }
        }
      }
    }
  }
}
.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 50px;
    .pagination {
      list-style: none;
      padding: 0;
      display: flex;
      li {
          margin: 0 5px;
          a {
              text-decoration: none;
              background-color: #4a4a4b;
              color: white;
              padding: 5px 10px;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.2s;
              &:hover {
                  background-color: #ffffff;
                  color: black;
                }
        }
      }
    }
}
.pagination-div .pagination li a.active {
  background-color: #0a0346;
}

@media (max-width: 816px) {
  .main-div {
    justify-content: center;
  }
}
@media (max-width: 490px) {
  .main-div {
    width: 100%;
    justify-content: space-around;
    .product-details {
      height: 430px;
      width: 45%;
      .product-image-container {
        width: 100%;
        height: 120px;
        .product-image {
          width: 100%;
          height: 100%;
        }
      }
      .product-info {
        .product-title {
          font-size: 12px;
        }
        .product-description{
          font-size: 12px;
        }
        .product-price {
          font-size: 20px;
        }
        .product-count {
          font-size: 12px;
        }
        .btn-div {
          .cart-btn {
            height: 20px;
            margin-bottom: 5px;
          }
          .buy-btn {
            height: 20px;
          }
        }
      }
    }
  }
}

.productTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}