<div class="market">
    <div class="market-div">
        <h1>Shopping with</h1>
        <h2>Pleasure</h2>
        <div class="paragraph">
            <p>Can help you get the best marketing services</p>
            <p>and the support is absolutely FREE!</p>
        </div>
    </div>
    <img class="img" src="../../assets/woman.png" alt="woman">
    <button (click)="shopNow()">Shop Now</button>
    <div class="nike-products"> 
        <div class="nike-product"> 
            <img class="img-nike" src="../../assets/nike.png" alt="nike">
            <h2>Nike Products</h2>
        </div>
        <span class="discount">40% Off</span> 
        <p>Copyright © 2023 The Nike.</p>
    </div>
</div>

<div class="slider">
    <h1>We've Top <span>Brands</span></h1>
    <div class="slider-div">
        <img *ngFor="let brand of brands" class="img-slider" [src]="brand.imageUrl" [alt]="brand.altText">
    </div>
</div>

<div class="blog-div">
    <i class="fa-solid fa-shield-heart"></i>
    <h2>BeeMazing</h2>
    <h3>Download our app and start your free trail to get started today!</h3>
    <p>End-to-end payments and financial management in a single solution.</p>
    <div class="app-btn">
        <button class="apple-btn">
            <i class="fa-brands fa-apple"></i>
            <a class="a-tag" href="https://www.apple.com/app-store/" target="_blank">APP STORE</a>
        </button>
        <button class="android-btn">
            <i class="fa-brands fa-android"></i>
            <a class="a-tag" href="https://play.google.com/store/games?device=windows" target="_blank">GOOGLE PLAY</a>
        </button>
    </div>
</div>