<h2 class="title">Sign Up</h2>
<div class="form-div">
  <button class="back-btn" (click)="backToHome()">Back</button>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName">
        <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
          First Name is required
        </div>
      </div>
    
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName">
        <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
          Last Name is required
        </div>
      </div>
    
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email">
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
          Enter a valid email address
        </div>
      </div>
    
      <div>
        <label for="password">Password:</label>
        <div class="password-field">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="password" formControlName="password">
          <i *ngIf="!showPassword" class="fa-solid fa-eye" (click)="changeType()"></i>
          <i *ngIf="showPassword" class="fa-solid fa-eye-slash" (click)="changeType()"></i>
        </div>
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
          Password is required
        </div>
      </div>

      <div>
        <label for="password">Confirm Password:</label>
        <div class="password-field">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="confirmPassword" formControlName="confirmPassword">
          <i *ngIf="!showPassword" class="fa-solid fa-eye" (click)="changeType()"></i>
          <i *ngIf="showPassword" class="fa-solid fa-eye-slash" (click)="changeType()"></i>
        </div>
        <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
          Confirm Password is required
        </div>
        <div *ngIf="registrationForm.hasError('passwordMismatch') && (registrationForm.get('password')?.touched || registrationForm.get('confirmPassword')?.touched)">
          Passwords do not match
        </div>
      </div>
    
      <div>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" formControlName="dob">
        <div *ngIf="registrationForm.get('dob')?.invalid && registrationForm.get('dob')?.touched">
          Date of Birth is required
        </div>
      </div>
    
      <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
    </form>
</div>
