<div class="market">
    <div class="market-div">
        <h1>Shopping with</h1>
        <h2>Pleasure</h2>
        <div class="paragraph">
            <p>Can help you get the best marketing services</p>
            <p>and the support is absolutely FREE!</p>
        </div>
    </div>
    <img class="img" src="../../assets/woman.png" alt="woman">
    <button (click)="shopNow()">Shop Now</button>
    <div class="nike-products"> 
        <div class="nike-product"> 
            <img class="img-nike" src="../../assets/nike.png" alt="nike">
            <h2>Nike Products</h2>
        </div>
        <span class="discount">40% Off</span> 
        <p>Copyright © 2023 The Nike.</p>
    </div>
</div>

<div class="slider">
    <h1>We've Top <span>Brands</span></h1>
    <div class="slider-div">
        <img class="img-slider" src="../../assets/slider/free-adidas-logo-icon.svg" alt="adidas">
        <img class="img-slider" src="../../assets/slider/gucci.svg" alt="gucci">
        <img class="img-slider" src="../../assets/slider/ecco.svg" alt="ecco">
        <img class="img-slider" src="../../assets/slider/jordan.svg" alt="jordan">
        <img class="img-slider" src="../../assets/slider/puma.svg" alt="adidas">
        <img class="img-slider" src="../../assets/slider/louis-vuitton.svg" alt="louis-vuitton">
    </div>
</div>