.market {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 120px;
    margin-bottom: 200px;
    padding: 20px;
    padding-top: 100px;
    border-radius: 10px;
    color: white;
    background: rgb(35,22,48);
    background: linear-gradient(90deg, rgba(35,22,48,1) 48%, rgba(96,68,126,1) 90%, rgba(122,92,152,1) 100%);
    position: relative;
    .market-div {
        h1 {
            font-size: 70px;
            color: white;
        }
        h2 {
            font-size: 60px;
            color: rgb(2, 69, 255);
        }
        .paragraph {
            color: white;
            font-size: 15px;
            margin-top: 20px;
            line-height: 22px;
        }
    }
    .img {
        margin-top: 30px;
        position: absolute;
        left: 50%;
        bottom: 5%;
        width: 41%;
        height: 100%;
    }

    button {
        margin: 20px 0 40px 0px;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .nike-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 110px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #f24a01;
        color: rgb(255, 255, 255);
        .nike-product {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            .img-nike {
                width: 20%;
                height: 100%;
            }
        }
        .discount {
            font-size: 40px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
}

.slider {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 180px;
    h1 {
        margin-bottom: 80px;
        font-size: 55px;
        span {
            color: rgb(0, 110, 255);
        }
    }
    .slider-div {
        width: 90%;
        display: flex;
        justify-content: space-around;
        .img-slider {
            width: 120px;
            height: 100px;
        }
    }
}

.blog-div {
    width: 80%;
    margin: 0 auto;
    border-radius: 20%;
    height: 500px;
    background: rgb(40,40,42);
    background: linear-gradient(90deg, rgba(40,40,42,1) 0%, rgba(24,24,26,1) 53%, rgba(40,40,42,1) 99%);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .fa-shield-heart {
        font-size: 60px;
        color: red;
    }
    h2 {
        color: red;
        font-size: 40px;
    }
    h3 {
        color: rgb(199, 199, 199);
        font-size: 35px;
    }
    p {
        color: gray;
    }
    .app-btn {
        width: 500px;
        display: flex;
        justify-content: space-between;
        .apple-btn {
            width: 220px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #00c3ff;
            border: none;
            border-radius: 10px;
            color: white;
            box-shadow: 10px 30px 10px rgba(34, 33, 33, 0.363);
            cursor: pointer;
            .a-tag {
                color: white;
                transition: color 0.5s;
                &:hover {
                    color: #000000;
                    transition: color 0.5s;
                }
            }
            .fa-apple {
                font-size: 25px;
            }
            p {
                color: white;
                font-size: 17px;
            }
        }
        .android-btn {
            width: 220px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #9905ee;
            border: none;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            box-shadow: 10px 30px 10px rgba(34, 33, 33, 0.363);
            .a-tag {
                color: white;
                transition: color 0.5s;
                &:hover {
                    color: #000000;
                    transition: color 0.5s;
                }
            }
            .fa-android {
                font-size: 25px;
            }
            p {
                color: white;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .market {
        .nike-products {
            top: 55%;
        }
    }
}
@media (max-width: 1115px) {
    .market {
        .nike-products {
            display: none;
        }
    }
    .blog-div  {
        h3 {
            font-size: 25px;
        }
    }
}
@media (max-width: 805px) {
    .market-div {
        margin: 0 auto;
    }
    .img {
        display: none;
    }
    .blog-div  {
        h3 {
            font-size: 20px;
        }
        .app-btn {
            flex-direction: column;
            align-items: center;
            .apple-btn {
                margin-bottom: 20px;
            }
        }
    }
    .slider {
        .slider-div {
            width: 100%;
            .img-slider {
                width: 80px;
            }
        }
    }
}
@media (max-width: 645px) {
    .blog-div  {
        h2 {
            font-size: 25px;
        }
        h3 {
            font-size: 15px;
        }
        p {
            font-size: 12px;
        }
        .app-btn {
            width: 50%;
            .apple-btn {
                height: 50px;
            }
            .android-btn {
                height: 50px;
            }
        }
    }
    .slider {
        margin-bottom: 40px;
        .slider-div {
            width: 90%;
            .img-slider {
                width: 50px;
            }
        }
    }
}
@media (max-width: 490px) {
    .market {
        .market-div {
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 30px;
            }
            .paragraph {
                p {
                    font-size: 15px;
                }
            }
        }
    }
    .blog-div  {
        text-align: center;
        .app-btn {
            .apple-btn {
                width: 150px;
                height: 40px;
            }
            .android-btn {
                width: 150px;
                height: 40px;
            }
        }
    }
    .slider {
        margin-bottom: 40px;
        h1 {
            font-size: 35px;
            margin-bottom: 10px;
        }
        .slider-div {
            flex-wrap: wrap;
            .img-slider {
                width: 60px;
            }
        }
    }
}